.file-item {
    padding: 4px;
    border: 1px;
    margin: 1px;
    text-shadow: 1px 1px black;
    color: white;
}

.file-item:hover {
   background-color: rgba(238, 238, 238, 0.2);
}

.draggable {
    background-color: red;
}
