#!/usr/bin/make -f

%:
	dh $@

override_dh_fixperms:
	dh_fixperms -XcreateThumbnail.js -Xding.js

override_dh_install:
	dh_install
	chmod 0755 debian/gnome-shell-extension-desktop-icons-ng/usr/share/gnome-shell/extensions/ding@rastersoft.com/createThumbnail.js
	chmod 0755 debian/gnome-shell-extension-desktop-icons-ng/usr/share/gnome-shell/extensions/ding@rastersoft.com/ding.js
